/*
* Jesse James theme configuration
*/

/* Imports */
@import "compass";
@import "susy";
//@import "normalize";
@import "compass/css3";

/* Susy - Configuration */
/*
$susy: (
	// the basics
	columns: 26,
	gutters: .74,
	column-width: 1.2em,
	// advanced
	math: static
);
*/

/* Susy - Configuration - Debug */

// Use this in configuration to setup debugging
$susy: (
	// the basics
	columns: 26,
	gutters: .74,
	column-width: 1.2em,
	// advanced
	math: static,
	debug: (
		image: show,
		color: blue,
		output: overlay,
		toggle: top left
	)
);
// Use this in container areas to show grids

/* Global Defaults */
/*
$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: auto,
  container-position: center,
  columns: 4,
  gutters: .25,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);
*/

/* IE9 - Gradient support IE9 SVG, needs conditional override of 'filter' to 'none' */
$experimental-support-for-svg: true;

/* Settings */

$show_grids: false;

$body-width: '100%';
$body-font-size: '100%';

/* Colors - Nicholls */

$funroe-color-grey: #cccccc;
$funroe-color-red: #cc3333;

$funroe-color-white: #fff;
$funroe-color-black: #000;

$funroe-color-grey-light-1: #efefef;
$funroe-color-grey-light-2: #eaeaea;
$funroe-color-grey-light-3: #e2e2e2;

$funroe-color-grey-dark-1: #7f7f7f;
$funroe-color-grey-dark-2: #6d6d6d;
$funroe-color-grey-dark-3: #666666;

/* Colors - Nicholls - Palette A */

$funroe-color-graydark: #374149;
$funroe-color-crimson: #7a2224;
$funroe-color-mustard: #a45c0b;
$funroe-color-greydarkcool: #52616e;
$funroe-color-tanwarm: #dbab6c;
$funroe-color-bluegreencool: #467d80;
$funroe-color-tancool: #aaae87;
$funroe-color-greenblue: #149a8a;

/* Colors - Nicholls - Palette B */

$funroe-color-orangelight: #f3ae2f;
$funroe-color-orange: #e57100;
$funroe-color-green: #aab200;
$funroe-color-bluegreen: #008897;
$funroe-color-tan: #b7975c;
$funroe-color-blue: #003d73;
$funroe-color-violet: #960049;
$funroe-color-yellowgreen: #e0e72d;

/* Colors - Links & Text */

$link-color: $funroe-color-blue;
$link-color-visited: $funroe-color-grey-dark-3;
$link-color-hover: $funroe-color-blue;

/* Colors - By Area */

$funroe-color-current: $funroe-color-tancool;
$funroe-color-future: $funroe-color-crimson;
$funroe-color-life: $funroe-color-orangelight;
$funroe-color-athletics: $funroe-color-bluegreencool;
$funroe-color-friends: $funroe-color-mustard;
$funroe-color-administration: $funroe-color-greydarkcool;

/* Colors - Layout Utilities */

$funroe-color-elements-widget-borders-primary: $funroe-color-grey-light-3;
$funroe-color-border-color-default: $funroe-color-grey-light-3;

/* Utilities */

/* Nicholls Colors - Basic */
$funroe-colors: ( 
	'red',
	'grey',
	'white',
	'black',
	'graydark',
	'crimson',
	'mustard',
	'greydarkcool',
	'tanwarm',
	'bluegreencool',
	'tancool',
	'greenblue',
	'orangelight',
	'orange',
	'green',
	'bluegreen',
	'tan',
	'blue',
	'violet',
	'yellowgreen',
	'borer-default'
);
$funroe-colors-values: ( 
	$funroe-color-red, 
	$funroe-color-grey,  
	$funroe-color-white, 
	$funroe-color-black,
	$funroe-color-graydark, 
	$funroe-color-crimson, 
	$funroe-color-mustard, 
	$funroe-color-greydarkcool, 
	$funroe-color-tanwarm, 
	$funroe-color-bluegreencool, 
	$funroe-color-tancool, 
	$funroe-color-greenblue,
	$funroe-color-orangelight, 
	$funroe-color-orange, 
	$funroe-color-green, 
	$funroe-color-bluegreen, 
	$funroe-color-tan, 
	$funroe-color-blue, 
	$funroe-color-violet, 
	$funroe-color-yellowgreen,
	$funroe-color-border-color-default
);
/* Color Util */
@function nichollsColor($search) {
	$n1: index($funroe-colors, $search);
	$n2: index($funroe-colors-values, $search);
	@if($n1) {
	  @return nth($funroe-colors-values, $n1);
	} @else {
	  @return nth($funroe-colors, $n2);
	}
}

/* Nicholls Colors - Greys */
$funroe-colors-grey: ( 
	'grey-light-1',
	'grey-light-2',
	'grey-light-3',
	'grey-dark-1',
	'grey-dark-2',
	'grey-dark-3'
);
$funroe-colors-grey-values: ( 
	$funroe-color-grey-light-1,
	$funroe-color-grey-light-2,
	$funroe-color-grey-light-3,
	$funroe-color-grey-dark-1,
	$funroe-color-grey-dark-2,
	$funroe-color-grey-dark-3 
);
/* Color Util */
@function nichollsColorGrey($search) {
	$n1: index($funroe-colors-grey, $search);
	$n2: index($funroe-colors-grey-values, $search);
	@if($n1) {
	  @return nth($funroe-colors-grey-values, $n1);
	} @else {
	  @return nth($funroe-colors-grey, $n2);
	}
}


/* color classes */
@mixin funroe-color-classes() {
	@each $color in $funroe-colors {
	  .funroe-color-#{$color} { background-color: nichollsColor($color); color: nichollsColor('white'); }
	}
}

/* Border Color Utility */
@mixin funroe-border-colors() {		
	@each $color in $funroe-colors {
	  .border-color-#{$color} { border-color: nichollsColor($color); }
	}
	@each $grey-color in $funroe-colors-grey {
	  .border-color-#{$grey-color} { border-color: nichollsColorGrey($grey-color); }
	}		
}

@import 'breakpoint';

/* -- Jess's madness starts here -- */



/* Layout - Default breakpoint is 945 */

body {
	width: 100%;
	font-family: 'Lato', sans-serif;
	text-align: center;	
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Serif', serif;
}

.site, .site-header {
	@include container(31);
	text-align: left;
	padding: 0;
	position: relative;
	clear: both;
}

.site-header {
	text-align: center;
	border-bottom: 1px solid #ccc;
}

.content-area {
	@include span(21 of 31 first);
}

.widget-area {
	@include span(10 of 31 last);
}

/* see jesse_james_body_class_filter() */
.widgets-sidebar-1-inactive .content-area {
	@include container(31);
}

/* Layout - Large Screen breakpoint is 1166 */
@include susy-breakpoint( 80em, 37 ) {
	
	.site, .site-header {
		@include container(37);
	}

	.content-area {
		@include span(26 of 37 first);
	}

	.widget-area {
		@include span(10 of 37 last);
	}

	.widgets-sidebar-1-inactive .content-area {
		@include container(37);
	}
	
}

/* Layout - Tablet Screen breakpoint is  */
@include susy-breakpoint( 46em 62em, 23) {

	.site, .site-header {
		@include container(23);
	}
	
	.content-area, .widget-area {
		@include span(23);
	}

	.widgets-sidebar-1-inactive .content-area {
		@include container(23);
	}
	
}

/* Layout - Phone Screen Landscape breakpoint is  */
@include susy-breakpoint( 31em 46em, 17 ) {

	.site, .site-header {
		@include container(17);
	}
	
	.content-area, .widget-area {
		@include span(17);
	}

	.widgets-sidebar-1-inactive .content-area {
		@include container(17);
	}
			
}

/* Layout - Phone Screen Portrait breakpoint is  */
@include susy-breakpoint( 0em 31em, 11 ) {

	.site, .site-header {
		@include container(11);
	}
	
	.content-area, .widget-area {
		@include span(11);
	}	

	.widgets-sidebar-1-inactive .content-area {
		@include container(11);
	}
	
}


/* 480px */
@media only screen and (min-width: 1px) and (max-width: 480px), only screen and (max-device-width: 480px) {
/*  @import 'media/6-column'; */
}

/* 768px */
@media only screen and (min-width: 481px) and (max-width: 809px) {
/*  @import 'media/9-column'; */
}

/* 768px */
@media only screen and (min-width: 810px) and (max-width: 1009px) {
/*  @import 'media/14-column'; */
}

/* 992px */
@media only screen and (min-width: 1010px) and (max-width: 1381px) {
/*  @import 'media/19-column'; */
}

/* 1382px */
@media only screen and (min-width: 1382px) {
/*  @import 'media/22-column'; */
}

/* 2x */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
/*  @import 'media/high-rez'; */
}

/* Print */
@media print {

}

/* Compatibility - IE and other compatibility issues */




/* Header ,Branding, & Navigation */

.site-branding {
	width: 10em;
	margin: 0 auto;
	text-align: center;
	position: relative;
	z-index: 102;
}

.site-title {
	width: auto;
	text-align: center;
	margin: 0;
	padding: 0;
}

.site-title a {
  display: block;
  font-size: 2rem;
  text-indent: -9999px;
  width: 2em;
  height: 2em;
  background-image: url( 'images/logo-planck-dark.svg' );
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.site-title-.background--light a {
	  background-image: url( 'images/logo-planck-dark.svg' );
}

.site-title-.background--dark a {
	  background-image: url( 'images/logo-planck-light.svg' );
}

.site-title a:hover {
	transform: rotate(52deg);
	-webkit-transform: rotate(52deg);
	-moz-transform: rotate(52deg);
	-ms-transform: rotate(52deg);
	-o-transform: rotate(52deg);
}

.site-description {
	position: absolute;
	width: auto;
	
	font-size: 80%;
	font-weight: 100;
	padding: 0 .2em;
	margin: 0;
	position: relative;
	color: #000;
	text-align: center;
}

.main-navigation {
	width: auto;
	margin: -4em auto 0 auto;
	position: relative;
	float: none;
	z-index: 100;
}

.main-navigation .menu {
	display: inline-block; /* centers modern browsers */
	margin: 0 auto; /* centers modern browsers */
	text-align: center; /* centers IE6/7 */
}

.main-navigation ul, .main-navigation ul ul {
	 list-style-type: none;
	 list-style-position: inside;
	 list-style-image: none;
	 display: block; /* IE6/7 haslayout trip-switch */     
	 
 }

.main-navigation ul {
	display: inline-block; /* IE6/7 haslayout trip-switch */     
}

.main-navigation ul li {
	display: inline;
	padding: .2em;
	margin-right: 2em;

}

.main-navigation ul li:nth-child(3) {
	margin-left: 8em;
}

.main-navigation ul li a {
	float: left;
}

.main-navigation ul ul {
	box-shadow: none;
	float: left;
	left: -999em;
	position: absolute;
	top: 1.5em;
	z-index: 99999;
	margin: 0;
	padding: 0;
}

.main-navigation ul ul li {
	margin: 0;
	padding: 0;
}

.main-navigation ul ul a {
	width: auto;
}

.main-navigation .menu-item a {
	padding: 0 .4em; /* variable width */
	font-family: 'Noto Serif', serif;
	font-weight: 700;
	font-style: italic;
}
